@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Italianno&display=swap');
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      background-color: black;
}
*{
    margin: 0;
    padding: 0;

}
/* shear style */
a{
    text-decoration: none;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    background-color: #E6533C;
    border-radius: 39px;
    border: none;
    padding: 16px 40px 16px 40px;
    margin-top: 28px;
    }
/* navbar style */
.header{
    background: linear-gradient(rgb(40, 39, 39), rgba(100, 97, 97, 0));
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 190px 0px 190px;
}
.nav-title{
    font-size: 36px;
    font-weight: 700;
    color: #E6533C;
}
nav ul {
    display: flex;
    width: 465px;
    height: 46px;
    gap: 47px;
    text-align: center;
    align-items: center;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
nav ul li{
    list-style: none;
    font-size: 18px;
    color: #FFFFFF;
}
.home{
    background-color: #E6533C;
    border: none;
    border-radius: 39px;
    height: 25px;
    padding: 10px 22px 10px 22px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 190px;
    margin-bottom: 50px;
}
.banner-title{
    color: #FFFFFF;
    font-size: 78px;
    font-weight: 900;
    margin-top: -55px;
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
}
.banner-contain{
    max-width: 580px;
}
.banner-img{
    margin-top: -125px;
}
.btn-new{
    background: transparent;
    border: 2px solid #FFFFFF;
    margin-left: 15px;
}
.img-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 900;
}
.img-text-2{
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 900;
}
.img-box{
    display: flex;
    gap: 12px;
    position: absolute;
    align-items: center;
    width: 206px;
    left: 870px;
    bottom: 50px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    font-size: 18px;
    color: #FFFFFF;
    background: rgba(48, 48, 48, 0.54);
}
.new{
    top: 290px;
    left: 1180px;
}
.text{
    font-size: 16px;
    color: #FFFFFF80;
    margin-left: 20px;
}
.cercle{
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-left: 10px;
}

/* habits section */
.habits-container{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
}
.habit-section{
    margin: 100px 190px 100px 190px;
}
.habit-title{
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.habit-description{
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
    color: #FFFFFF80;
}
.habit-img{
    border: 5px solid rgb(40, 39, 39);
    border-radius: 50%;
    margin-left: 18px;
    margin-bottom: 30px;
}
.habit-text{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* run Section */
.run{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 190px 50px 190px;
    justify-content: space-between;
    height: 410px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
}
.run-section{
    padding: 60px;
}
.run-img{
    position: absolute;
    width: 366px;
    height: 312px;
    left: 910px;
    margin-top: 50px;
    background: url(images/run.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 18px;
}
.run-title{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 20px;
}
.run-description{
    font-size: 14px;
    color: #FFFFFF80;
    margin-bottom: 30px;
}
.run-btn{
    width: 210px;
}

/* table style */
table {
    border-collapse: collapse;
    margin-top: 20px;
}
.tabil-head{
    color: #FFFFFF;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 50%;
}
td{
    font-size: 14px;
    color: #FFFFFF80;
}
.bmi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 49px 189px 52px 189px;
    background: #222222;
}
.bmi-title{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
    color: #FFFFFF;
}
.bmi-text{
    text-align: left;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.bmi-description{
    font-size: 14px;
    color: #FFFFFF80;
    line-height: -2px;
    margin-bottom: 34px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.button{
    width: 282.5px;
    height: 48px;
    align-items: center;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    text-align: left;
    background: #FFFFFF80;
}
.button-2{
    width: 585px;
    margin-top: 15px;
}
.bmi-btn{
    width: 224px;
    height: 54px;
}

/* teams section */
.teams-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1060px;
    height: 604px;
    margin: 88px 190px;
    margin-left: 210px;
    padding: 10px;
    border-radius: 18px;
    background: #FFFFFF1A;
}
.trainer{
    width: 326.67px;
    position: relative;
    left: 12px;
    top: 8px;
    height: 272px;
    border-radius: 18px;
    background: url(images/trainer1.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
}
.trainer-1{
    background: url(images/trainer2.png);
    background-position: center;
    background-size: cover;
}
.trainer-2{
    background: url(images/trainer3.png);
    background-position: center;
    background-size: cover;
}
.trainer-3{
    background: url(images/trainer4.png);
    background-position: center;
    background-size: cover;
}
.trainer-4{
    background: url(images/trainer5.png);
    background-position: center;
    background-size: cover;
}
.trainer-5{
    background: url(images/trainer6.png);
    background-position: center;
    background-size: cover;
}
.teams-title{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.teams-discription{
    font-size: 14px;
    text-align: center;
    margin-bottom: 58px;
    color: #FFFFFF80;

}
.trainer-name{
    position: relative;
    top: 230px;
    left: 5px;
    color: #FFFFFF;

}
.rank{
    font-size: 14px;
    color: #FFFFFF80;
}
/* footer path */

footer{
    height: 490px;
    background: rgba(255, 255, 255, 0.1);
}
.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 66px 190px 100px 190px;

}
.footer-title{
    font-size: 70px;
    font-weight: 800;
    color: #E6533C;
}
.footer-description{
    font-size: 14px;
    color: #FFFFFF80;
    line-height: 24px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.menu-item h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 39px;
    color: #FFFFFF;
}
.menu-item ul li{
    list-style: none;
    font-size: 18px;
    padding: 10px 0px;
}
.menu-item ul li a{
    color: #FFFFFF80;
}
hr{
    margin: 0px 190px;
    align-items: center;
}
.copy{
    text-align: center;
    margin-top: 36px;
    font-size: 20px;
    color: #FFFFFF80;
}
